* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d8dbe0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #ffffff;
  width: 520px;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 12px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
}
.login-container:hover {
  transform: scale(1.1);
}

.form-group {
  margin-bottom: 15px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d2d5d9;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 17px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0f2d6c;
}
